* {
  width: 99%;
  border: none;
  border-collapse: collapse;
}
.title  {
  text-align: center;
  background: #2E1D16;
  color: linen;
}
thead {
  color:linen;
  background: #4B2E24;
  text-align: center;
}

table, th, td {
  border: 2px solid #2E1D16;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 8px;
}

tr[class="read"] {
  background-image: linear-gradient(to bottom, #b08968, #7a4a39);
}

tr[class="to-read"] {
  background-image: linear-gradient(to bottom, #E6CCB2, #b08968);
}

tr[class="in-progress"] {
  background-image: linear-gradient(to bottom, #FAF0E6, #E6CCB2);
}

span {
  display: inline-block;
}

tr[class="read"] span[class="status"] {
  border: 3px solid #7A4C39;
  background-image: radial-gradient(#B08968, #7A4C39);
  color: linen;
  border-radius: 25%;
  text-align: center;
}

tr[class="to-read"] span[class="status"] {
  border: 3px solid #4B2E24;
  background-image: radial-gradient(#7A4C39, #4B2E24);
  color: linen;
  border-radius: 25%;
  text-align: center;
}

tr[class="in-progress"] span[class="status"] {
  border: 3px solid #2E1D16;
  background-image: radial-gradient(#4B2E24, #2E1D16);
  color: linen;
  border-radius: 25%;
  text-align: center;
}

span[class="status"], span[class^="rate"] {
  width: 80%;
  height: 80%;
  padding: 5px;
}

span[class^="rate"] > span {
  border: 1px solid #2E1D16;
  border-radius: 10px;
  margin: auto;
  height: 10px;
  width: 20%;
  background-color: linen;
}

span[class~="one"] > :nth-child(1) {
  background-image: linear-gradient(to bottom, linen, #2E1D16);
}

span[class~="two"] > :nth-child(-n+2) {
  background-image: linear-gradient(to bottom, linen, #2E1D16);
}

span[class~="one"] span:first-of-type {
  background-image: linear-gradient(to bottom, linen, #2E1D16);
}

span[class~="two"]:nth-child(-n+2) {
  background-image: linear-gradient(to bottom, linen, #E6CCB2);
  border: 1px solid #2E1D16;
  border-radius: 50%;
}

span[class~="three"] span {
  background-image: linear-gradient(to bottom, linen, #2E1D16);
} 
